<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-elements">
        <link rel="import" href="webjars/polymer/polymer.html"/>
        <link rel="import" href="elements.html"/>
    </div>

    <div th:fragment="header-css">
        <link rel="stylesheet" type="text/css" href="css/root.css"/>
    </div>

</head>
<body>
<div th:fragment="header" class="page-header">
    <sw4p-header>
        <div slot="title">Cubed Server</div>
        <div slot="menu">
            <a th:href="@{/}"><sw4p-button>Dashboard</sw4p-button></a>
            <a th:href="@{/login(logout)}"><sw4p-button>Logout</sw4p-button></a>
        </div>
    </sw4p-header>
</div>
</body>
</html>