*~
*.iml
*.ipr
*.iws
.gradle
.idea
build
out
nbproject
bin
doc
target
!.gitignore
!.gitmodules
!.mailmap
!.gitattributes
dependency-reduced-pom.xml
.classpath
.project
.settings
.db
.DS_Store
.vscode
/plugins/
/logs/
/config/
/worlds/
/classes/
/lib/
/cubed-webservices/src/main/resources/bower_components/
/cubed-webservices/node_modules/
/cubed-webservices/src/main/resources/static/bower_components/
/cubed-server/lib/
/cubed-server/logs/
/cubed-server/plugins/
/cubed-server/worlds/
/cubed-server/config/
/cubed-webservices/node/
