body {
    min-height: 630px;
}
.form {
    z-index: 1;
    background: #FFFFFF;
    max-width: 300px;
    margin: 0 auto 100px;
    padding: 30px;
    border-radius: 3px;
    text-align: center;
}
.form .thumbnail {
    background: var(--color-primary-dark);
    width: 150px;
    height: 150px;
    margin: 0 auto 15px;
    padding: 50px 30px;
    border-radius: 100%;
    box-sizing: border-box;
}
.form .thumbnail img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    user-select: none;
    transform: translate(0, -20%);
    width: 100%;
}

.form input:first-child {
    margin-top: 15px;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}
.form .btn {
    outline: 0;
    background: var(--color-primary-dark);
    width: 100%;
    border: 0;
    padding: 15px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    transition-delay: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    cursor: pointer;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #EF3B3A;
    text-decoration: none;
}


.error-alert {
    padding: 8px 8px 8px 32px;
    background-color: var(--color-error);
    color: var(--color-error-text);
    border-radius: 3px;
    text-align: left;
}

.success-alert {
    padding: 8px 8px 8px 32px;
    background-color: var(--color-success);
    color: var(--color-success-text);
    border-radius: 3px;
    text-align: left;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}